* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1f64ff;
}

.home-background {
  background-image: linear-gradient(
      360deg,
      rgba(58, 58, 58, 0.6) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url("../assets/home-background.jpg");
    background-position: center;
    background-size: cover;
}
